@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

body {
  background: url("../../resources/img/healthy.jpg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 800px rgba(225, 225, 225, 0.4);
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

input {
  text-transform: uppercase;
  text-align: center;
}

.page-wrapper h1, h4  {
  text-align: center;
}

.page-wrapper h1 {
  letter-spacing: 1px;
  color: white;
  font-size: 70px;
  text-shadow: 1px 1px black;
}

.calorie-header{
  text-align: center;
  margin-bottom: 2%;
}

#calories {
  display: inline;
  align-items: center;
  letter-spacing: 1px;
  color: black;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 2px 10px 2px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

select {
  border-radius: 0;
  outline: 2px inset black;
  outline-offset: -2px;
  -webkit-appearance: none;
  text-align: center;
}

option {
  text-align: center;
}

#dropdown {
  max-width: 200px;
  margin: 0 auto;
}

#foodItem {
  color: black;
  border: 2px solid black;
  background-color: #D5E3EA;
  padding: 10px;
  text-align: center;
}

#foodItem:hover {
  background-color: #F0F8FF;
}

.foodDisplay, h6 {
  font-size: 18px;
  text-align: center;
  padding: 6px;
}

.food-details{
  background-color: rgba(255, 255, 255, 0.5);
}

.food-form {
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.food-form input {
  margin: 2px 2px;
  border: 2px solid black;
  border-radius: 0;
}

.edit-btn {
  margin-top: 4%;
  margin-bottom: 8%;
  padding: 4px 30px;
  border: 2px solid black;
  background: #D5E3EA;
  color: black;
}

.edit-btn:hover {
  background-color: #F0F8FF;
}

#add-label {
  color: black;
}

.add-food-form {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  }

  .add-food-form input {
    margin: 2px 2px;
    border: 2px solid black;
    border-radius: 0;
  }


.add-btn {
  margin-top: 2%;
  padding: 4px 30px;
  border: 2px solid black;
  background: #B3BCBE;
  color: black;
}

.add-btn:hover {
  background-color: #F0F8FF;
}
