@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

body {
  background: url("../../resources/img/healthy.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}

input {
  text-transform: uppercase;
  text-align: center;
}

.page-wrapper h1, h4  {
  text-align: center;
}

.page-wrapper h1 {
  letter-spacing: 1px;
  color: white;
  font-size: 70px;
}

.page-wrapper h4 {
  letter-spacing: 1px;
  color: #A6B3C0;
}

select {
  border-radius: 0;
  outline: 2px inset black;
  outline-offset: -2px;
  -webkit-appearance: none;
  text-align: center;
}

option {
  text-align: center;
}

#dropdown {
  max-width: 200px;
  margin: 0 auto;
}

#foodItem {
  color: black;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

#foodItem:hover {
  background-color: #D5E3EA;
  color: white;
}

.foodDisplay, h6 {
  font-size: 18px;
  text-align: center;
}

.food-form {
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.food-form input {
  margin: 2px 2px;
  border: 2px solid black;
  border-radius: 0;
}

.edit-btn {
  margin-top: 4%;
  padding: 4px 30px;
  border: 2px solid black;
  background: transparent;
  color: black;
}

.edit-btn:hover {
  background-color: #B3BCBE;
  color: white;
}

#add-label {
  color: black;
}

.add-food-form {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  }

  .add-food-form input {
    margin: 2px 2px;
    border: 2px solid black;
    border-radius: 0;
  }


.add-btn {
  margin-top: 2%;
  padding: 4px 30px;
  border: 2px solid black;
  background: transparent;
  color: black;
}

.add-btn:hover {
  background-color: #B3BCBE;
  color: white;
}
